/* Font - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Spacing */
.section-mb {
  margin-bottom: 80px;
}

.section-mt {
  margin-top: 80px;
}

.height-200 {
  height: 200px;
}

.w-90 {
  width: 90%;
}

.py-custom-5 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

/* Font Styles */

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/*-- Text Colors */

.text-white {
  color: #fefeff;
}
.text-white-dim {
  color: #d6e5f1;
}

.text-gray {
  color: #2d3e4d;
}
.text-gray-dim {
  color: #556571;
}

.text-green {
  color: #23b574;
}

.text-blue {
  color: #0C579B;
}

/* Bg Colors */

.bg-white {
  background-color: #fefeff;
}
.bg-gray {
  background-color: #e7eef5;
}
.bg-gray-2 {
  background-color: #EFF4FA;
}

.bg-green {
  background-color: #23b574;
}

.bg-blue {
  background-color: #0c579b;
}

/* Button style */

/* Btn primary */
.btn-solid-primary {
  border: none;
  background-color: #23b574;
  color: #fefeff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 35px;
  padding: 10px 35px;
}

.btn-solid-primary:hover {
  background-color: #178152;
}

.btn-solid-primary:active {
  background-color: #23b574 !important;
}

/* Btn secondary */
.btn-solid-secondary {
  border: none;
  background-color: #23b574;
  color: #fefeff;
  font-size: 18px;
  border-radius: 35px;
  padding: 10px 35px;
}

.btn-solid-secondary:hover {
  background-color: #178152;
}

.btn-solid-secondary:active {
  background-color: #23b574 !important;
}

/* Btn Tertiary */ 
.btn-solid-tertiary {
  border: none;
  background-color: #0c579b;
  color: #e7eef5;
  font-size: 18px;
  border-radius: 35px;
  padding: 10px 35px;
}

.btn-solid-tertiary:hover {
  background-color: #094b88;
}

.btn-solid-tertiary:active {
  background-color: #094b88 !important;
}

.btn-outline-tertiary {
  border: 1px solid #0c579b !important;
  color: #0c579b;
  background-color: transparent;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 35px;
}

.btn-outline-tertiary:hover {
  background-color: #0c579b;
  border: 1px solid #0c579b;
  color: #fff;
}

.btn-outline-tertiary:active {
  background-color: #0c579b;
  border: 1px solid #0c579b;
  color: #fff;
}


/* Gradient btn */
.btn-gradient-primary {
  border: none;
  background: linear-gradient(148deg, #23B574 0%, #0C579B 100%);
  color: #fefeff;
  font-size: 18px;
  border-radius: 35px;
  padding: 10px 35px;
}

.btn-gradient-primary:hover {
  background: linear-gradient(148deg, #0C579B 0%,  #23B574 100%);
}

.btn-gradient-primary:active {
  background: linear-gradient(148deg, #23B574 0%, #0C579B 100%);
}

/* Footer */

.logo {
  width: 154px;
  height: 34px;
}

/* Pricing */
.pricing-minus-margin {
  margin-top: -250px;
}

.pricing-section-height {
  height: 600px;
}

.pricing-custom-text {
  font-size: 16px;
}

.pricing-bg {
  background: url(assets/Pricing.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

}



/* Main Feature */

.main-feature-section {
  background: url(assets/Features.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

}


/* Header Style */
.header-bg {
  background: url(assets/header-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.header-height {
  height: 90vh;
}

/*Media Query */

@media only screen and (max-width: 576px) {
  /* Font */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }



 /* spacing */
  .w-sm-full {
    width: 100% !important;
  }

  .height-200 {
    height: 100px;
  }

  .btn-sm {
    padding: 8px 20px !important;
    font-size: 16px;
  }


  .header-height {
    height: auto;
  }

  .feature-icon {
    width: 24px;
    height: 24px;
  }

  .footer-text {
    font-size: 12px;
  }

  .pricing-minus-margin {
    margin-top: -195px;
  }
}
